apiVersion: v1
kind: Service
metadata:
  name: nginx-sidecar-proxy
  namespace: default
  labels:
    app: nginx-sidecar-proxy
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: nginx-sidecar-proxy

